USE [CDLT]
GO
/****** Object:  Table [dbo].[DON_HANG]    Script Date: 17/02/2020 4:26:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DON_HANG](
	[MaDH] [nchar](10) NOT NULL,
	[MaTaiKhoan] [nchar](10) NULL,
	[MaKH] [nchar](10) NULL,
	[AnhSanPham] [image] NULL,
	[TenSanPham] [nvarchar](50) NULL,
	[DonGia] [float] NULL,
	[SoLuong] [float] NULL,
	[TongTien] [float] NULL,
	[NgayLap] [date] NULL,
 CONSTRAINT [PK_DON_HANG] PRIMARY KEY CLUSTERED 
(
	[MaDH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[DON_HANG]  WITH CHECK ADD  CONSTRAINT [FK_DON_HANG_KHACH_HANG] FOREIGN KEY([MaKH])
REFERENCES [dbo].[KHACH_HANG] ([MaKH])
GO
ALTER TABLE [dbo].[DON_HANG] CHECK CONSTRAINT [FK_DON_HANG_KHACH_HANG]
GO
ALTER TABLE [dbo].[DON_HANG]  WITH CHECK ADD  CONSTRAINT [FK_DON_HANG_TAI_KHOAN] FOREIGN KEY([MaTaiKhoan])
REFERENCES [dbo].[TAI_KHOAN] ([MaTaiKhoan])
GO
ALTER TABLE [dbo].[DON_HANG] CHECK CONSTRAINT [FK_DON_HANG_TAI_KHOAN]
GO
