USE [CDLT]
GO
/****** Object:  Table [dbo].[HANG]    Script Date: 17/02/2020 4:26:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HANG](
	[MaHang] [nchar](10) NOT NULL,
	[MaNCC] [nchar](10) NULL,
	[MaNhomHang] [nchar](10) NULL,
	[TenHang] [nvarchar](50) NULL,
	[AnhSanPham] [image] NULL,
	[MoTa] [nvarchar](255) NULL,
	[DonGia] [float] NULL,
	[SoLuong] [float] NULL,
 CONSTRAINT [PK_HANG] PRIMARY KEY CLUSTERED 
(
	[MaHang] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[HANG]  WITH CHECK ADD  CONSTRAINT [FK_HANG_NCC] FOREIGN KEY([MaNCC])
REFERENCES [dbo].[NCC] ([MaNCC])
GO
ALTER TABLE [dbo].[HANG] CHECK CONSTRAINT [FK_HANG_NCC]
GO
ALTER TABLE [dbo].[HANG]  WITH CHECK ADD  CONSTRAINT [FK_HANG_NHOM_HANG] FOREIGN KEY([MaNhomHang])
REFERENCES [dbo].[NHOM_HANG] ([MaNhomHang])
GO
ALTER TABLE [dbo].[HANG] CHECK CONSTRAINT [FK_HANG_NHOM_HANG]
GO
