@model List<FoodCleanB.Database.SanPham>
@{
    ViewBag.Title = "List";
    Layout = "~/Views/Shared/LayoutShare.cshtml";
}

<h2>Sản phẩm của cửa hàng</h2>
@if (ViewBag.Category != null)
{
    <h3>Loại: @ViewBag.Category</h3>
}


<div class="row">
    @Html.Partial("HomeProduct", Model)
</div>


