@{

    Layout = null;
}

<li class="">
    <a href="@Url.Action("List", "Order")" title="Xem giỏ hàng">
        <span>Giỏ hàng của bạn</span>
        <i class="fa fa-shopping-bag"></i> 
        <span class="cart-count" id="cartCount">@ViewBag.CartCount</span>
    </a>
</li>