
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/LayoutShare.cshtml";
}

<h2>Trang Admin</h2>
    <ul class="list-group">
        <li class="col-md-3 list-group-item list-group-item-secondary"><a type="button" href="@Url.Action("SanPham")">Quản lý sản phẩm</a></li>
        <li class="col-md-3 list-group-item list-group-item-warning"><a type="button" href="@Url.Action("NhomHang")">Nhóm hàng</a></li>
        <li class="list-group-item list-group-item-success col-md-3"><a type="button" href="@Url.Action("NhaCungCap")">Nhà cung cấp</a></li>
        <li class="list-group-item list-group-item-danger col-md-3"><a type="button" href="@Url.Action("Coupon")">Phiếu giảm giá</a></li>
    </ul>
